
    <h1><strong><font size="5">About Us</font></strong></h1>
    <p><font size="3">
      Blow UP
    </font><br />
    
    <h3><font color="#FFFFFF"><strong>Blow UP</strong></font></h3><font size="3"></font>

<br /><font size="3">Seit mehr als einer Woche sind wir einer der grössten Surfsops in Deutschland. Wir haben mit ziemlicher Sicherheit immer genau das passende Material für Euch zur Verfügung. Egal ob purer Anfänger, Aufsteiger oder Profi...

Durch unsere Kompetenz und Zuverlässigkeit, gepaart mit optimalen Service verkaufen wir nicht nur hier in von Deutschland, sondern auch in Österreich,Schweiz, Italien, England, Belgien und Holland.

Unsere Mitarbeiter sind in allen Sportarten kompetent, da Sie diese auch alle selbst betreiben.
<br />
Wollt Ihr ein Schnäppchen machen? Dann zögert nicht lange und ruft uns an, oder schreibt uns eine Email. Wir beraten Euch gerne.

<br /><br />


Euer Team vom Blow UP
Suzan, Tung und Martin

</font>
<br />  
    </p>
</font>








