
    <h1><strong><font size="5">Contact</font></strong></h1>
    <font size="4">
    Hochschule fuer Wirtschaft und Recht
    Campus Schoeneberg<br>
    Badensche Strasse 52<br>
    10825 Berlin<br><br> 
    Studiengang; Wirtschaftsinformatik<br>
    Fach; Webanwendungen<br>
    Gruppe; Goodnews.de --> Blow UP<br>
    Gruppenmitglieder; <br>
    Tung Nguyen, Suzan Holmquist , Martin Koltermann
    
    </font>
</font>